.hidden{
    display: none;
}
body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 247, 255, 0.219);
}

.entire-screen {
   border:5px solid black ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   max-width: 700px;
   font-family: 'Public Sans', sans-serif;
}

#header-div{
    background-color: rgba(128, 128, 128, 0.445);
    border: solid 1px black;
    width:700px;
    height: 150px;
}

#title{
    letter-spacing: 8px;
    
}
#home-button {
    background-color: skyblue;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;;
}

#home-button:hover {
    background-color: rgb(104, 162, 185);
    text-decoration: underline;
}

#all-businesses-button {
    background-color: springgreen;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#all-businesses-button:hover {
    background-color: rgb(0, 201, 100);
    text-decoration: underline;
}

#login-button {
    background-color: lightsalmon;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    /* display: inline-block; */
    font-size: 16px;
    cursor: pointer;
}

#login-button:hover {
    background-color: rgb(206, 128, 97);
    text-decoration: underline;
}



#signup-button {
    background-color: violet;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    /* display: inline-block; */
    font-size: 16px;
    cursor: pointer;
}

#signup-button:hover{
    background-color: rgb(190, 104, 190);
    text-decoration: underline ;
}

#list-businesses-button{

    background-color: gold;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    /* display: inline-block; */
    font-size: 16px;
    cursor: pointer;

}

#list-businesses-button:hover{
    background-color: rgb(184, 156, 0);
    text-decoration: underline ; 
}

#logout-button{

    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    /* display: inline-block; */
    font-size: 16px;
    cursor: pointer;

}

#logout-button:hover{
    background-color: rgb(139, 139, 139);
    text-decoration: underline ; 
}


.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 700px;
}
.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 700px;
}

.login-input{
    margin-top: 5px;
    border: 4px solid grey;
    border-radius: 4px;
    height: 30px;
    font-size: 20px;
    width: 400px;
    padding: 2px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.login-input:focus{
    border: 4px solid black;
}

.signup-input {
    margin-top: 5px;
    border: 4px solid grey;
    border-radius: 4px;
    height: 30px;
    font-size: 20px;
    width: 400px;
    padding: 2px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.signup-input:focus{
    border: 4px solid black;
}

.login-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.signup-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.login-label{
    font-size: 20px;
}

.signup-label{
    font-size: 20px;
}

#login-submit{
    width: 200px;
    background-color: orange;
    height: 30px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 25px;
}

#login-submit:hover{
    background-color: rgb(196, 128, 2);
}

#signup-submit {
    width: 200px;
    background-color: violet;
    height: 30px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 25px;
}

#signup-submit:hover{
    background-color: rgb(189, 100, 189);
}

.create-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 700px;
}

.create-input{
    margin-top: 5px;
    border: 4px solid grey;
    border-radius: 4px;
    height: 30px;
    font-size: 20px;
    width: 400px;
    padding: 2px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.create-input:focus{
    border: 4px solid gold;
}

#create-description{
    margin-top: 5px;
    border: 4px solid grey;
    border-radius: 4px;
    height: 100px;
    font-size: 17px;
    width: 400px;
    /*padding: 2px;*/
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    
}

#create-description:focus{
    border: 4px solid gold;
}

#create-type{
    margin-top: 5px;
    width: 414px;
    border: 4px solid grey;
    border-radius: 4px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#create-type:focus{
    border: 4px solid gold;
}

.create-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.create-label{
    font-size: 20px;
}

#create-submit
{
    width: 200px;
    background-color: gold;
    height: 30px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 25px;
}

#create-submit:hover{
background-color: rgb(177, 150, 0);
}


#all-businesses-section{
   background-color: white;
   width: 700px;
}

.businessNames{
    border: solid 4px grey;
    width: 400px;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.businessNames:hover{
    color:white;
    background-color: springgreen;
    border: solid 4px black;
}

#all-businesses-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#single-business-section{
    background-color: white;
    width: 700px;
}
.business-info-div{
    border-bottom: solid 3px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.add-review-form{
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-info{
    border: solid 3px black;
    margin-top: -18px;
    background-color: rgb(230, 230, 230);
    color: black;
    padding: 5px;
    font-size: medium;
    max-width: 300px;
}

.info-input{
    border: 4px solid grey;
    border-radius: 4px;
    height: 30px;
    font-size: 20px;
    width: 250px;
    padding: 2px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.info-input:focus{
    border: 4px solid springgreen;
}

#review-description{
    border: 4px solid grey;
    border-radius: 4px;
    height: 100px;
    font-size: 17px;
    width: 250px;
    padding: 2px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#review-description:focus{
    border: 4px solid springgreen;
}


#review-score{
    margin-top: 5px;
    width: 100px;
    border: 4px solid grey;
    border-radius: 4px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 10px;
}

#review-score:focus{
    border: 4px solid springgreen;
}


#review-submit{
    width: 150px;
    background-color: springgreen;
    height: 30px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 25px;
}

#review-submit:hover{
background-color: rgb(0, 187, 93);
}

.location-box{
    margin-top: 5px;
    width: 414px;
    border: 4px solid grey;
    border-radius: 4px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.location-box:hover{
    border: 4px solid springgreen;
}


.search-edit-delete-submit{
    width: 200px;
    background-color: springgreen;
    height: 30px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 10px;
    margin-right: 4px;
}

.search-edit-delete-submit:hover{
background-color: rgb(2, 187, 94);
}

.each-review {
    border: 4px solid grey;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 5px;
    padding: 2px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.each-review:hover{
    border: 4px solid black;
}

.all-reviews-display{
    overflow: scroll;
}

.edit-review-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#edit-review-description{
    border: 4px solid grey;
    border-radius: 4px;
    height: 100px;
    font-size: 17px;
    width: 250px;
    padding: 2px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#edit-review-description:focus{
    border: 4px solid springgreen;
}

#edit-review-score{
    margin-top: 5px;
    width: 100px;
    border: 4px solid grey;
    border-radius: 4px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 10px;
}

#edit-review-score:focus{
    border: 4px solid springgreen;
}


.cancel-review-edit{
    width: 200px;
    background-color: springgreen;
    height: 30px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 10px;
    margin-right: 4px;
}

.cancel-review-edit:hover{
    background-color: rgb(2, 187, 94);
}

.edit-business-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.edit-input{
    margin-top: 5px;
    border: 4px solid grey;
    border-radius: 4px;
    height: 30px;
    font-size: 20px;
    width: 400px;
    padding: 2px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.edit-input:focus{
    border: 4px solid springgreen;
}

#edit-business-description{
    border: 4px solid grey;
    border-radius: 4px;
    height: 100px;
    font-size: 17px;
    width: 400px;
    padding: 2px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#edit-business-description:focus{
    border: 4px solid springgreen;
}

#edit-business-type{
    margin-top: 5px;
    width: 100px;
    border: 4px solid grey;
    border-radius: 4px;
    background-color: lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 10px;
}

#edit-business-type:focus{
    border: 4px solid springgreen;
}

.cancel{
    width: 200px;
    background-color: springgreen;
    height: 30px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 10px;
    margin-right: 4px;
}

.cancel:hover{
    background-color: rgb(2, 187, 94);
}

#home-screen{
    background-color: white;
    width: 700px;
}



/*<input type="text" id="create-description">
<input type="text" id="review-description">*/
/*.signup-form{
    display: flex;
    flex-direction: column;
}*/
















.hidden{
    display: none;
}
